<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title><%= title %></title>
</head>
<body>
<h1><%= messages.first.participants.map(&:name).compact.join(', ') %> (<%= messages.first.participants.map(&:address).join(', ') %>)</h1>
<% messages.zip([nil] + messages).each do |(message, previous_message)| %>
  <%= message.date_time.iso8601 %> <%= sender_span(message, previous_message) %>
  <% message.parts.each do |part| %>
    <p class="message <%= message.outgoing ? 'outgoing' : 'incoming' %>">
      <% case part
         when TextPart %>
        <% part.text.lines.each do |line| %>
          <%= ERB::Util.html_escape(line) %>
        <% end %>
      <% when ImagePart %>
        <img src="<%= relative_path(part.path)%>" type="<%= part.content_type%>"/>
      <% when VideoPart %>
        <video controls>
          <source src="<%= relative_path(part.path) %>" type="<%= part.content_type %>" />
          Message contains a video, but your browser can't/won't display it.
        </video>
      <% else %>
        Message contains unsupported media type.
      <% end %>
    </p>
  <% end %>
<% end %>
</body>
</html>