<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title><%= title %></title>
</head>
<body>
<h1><%= messages.first.contact_name %> (<%= messages.first.normalized_addresses.join(', ') %>)</h1>
<% messages.each do |message| %>
  <%= message.date_time.iso8601 %> <%= message.sender_address || 'Me' %>:
  <% message.parts.each do |part| %>
    <p class="message <%= message.outgoing ? 'outgoing' : 'incoming' %>">
      <% case part
         when TextPart %>
        <% part.text.lines.each do |line| %>
          <%= ERB::Util.html_escape(line) %>
        <% end %>
      <% when ImagePart %>
        <img src="<%= relative_path(part.path)%>" type="<%= part.content_type%>"/>
      <% when VideoPart %>
        <video controls>
          <source src="data:<%= part.content_type %>;base64,<%= relative_path(part.path) %>" type="<%= part.content_type %>" />
          Message contains a video, but your browser can't/won't display it.
        </video>
      <% else %>
        Message contains unsupported media type.
      <% end %>
    </p>
  <% end %>
<% end %>
</body>
</html>